In [1]:
import pandas as pd

path = "/data/boom/cpg0019/broad/workspace_dl/metadata/sc-metadata.csv"

df = pd.read_csv(path)

/tmp/ipykernel_1578269/3081024698.py:5: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

In [2]:
df.head()

,Collection,Metadata_Plate,Metadata_Well,Metadata_Site,Nuclei_Location_Center_X,Nuclei_Location_Center_Y,Image_Name,Treatment,Treatment_Type,Control,Cell_line,LeaveReplicatesOut,LeaveCellsOut
0,BBBC036,24277,a06,1,86,17,../../training_images/BBBC036/24277/a06/1/976@...,BRD-K18619710,Compound,Treatment,U2OS,Training,Validation
1,BBBC036,24277,a06,1,167,29,../../training_images/BBBC036/24277/a06/1/976@...,BRD-K18619710,Compound,Treatment,U2OS,Training,Training
2,BBBC036,24277,a06,1,26,104,../../training_images/BBBC036/24277/a06/1/976@...,BRD-K18619710,Compound,Treatment,U2OS,Training,Training
3,BBBC036,24277,a06,1,140,149,../../training_images/BBBC036/24277/a06/1/976@...,BRD-K18619710,Compound,Treatment,U2OS,Training,Training
4,BBBC036,24277,a06,1,543,197,../../training_images/BBBC036/24277/a06/1/976@...,BRD-K18619710,Compound,Treatment,U2OS,Training,Validation

In [4]:
df['LeaveCellsOut'].value_counts()

LeaveCellsOut
Training      5737070
NotUsed       2630088
Validation      56297
Name: count, dtype: int64

In [5]:
df_filtered = df.groupby(['Collection', 'Metadata_Plate','Metadata_Well', 'Metadata_Site','LeaveCellsOut']).size().reset_index(name='Count')

In [6]:
df_filtered

,Collection,Metadata_Plate,Metadata_Well,Metadata_Site,LeaveCellsOut,Count
0,BBBC022,20585,A01,1,NotUsed,7
1,BBBC022,20585,A01,1,Training,46
2,BBBC022,20585,A01,1,Validation,1
3,BBBC022,20585,A01,2,NotUsed,18
4,BBBC022,20585,A01,2,Training,67
...,...,...,...,...,...,...
203448,LINCS,SQ00015233,O06,8,NotUsed,2
203449,LINCS,SQ00015233,O06,8,Training,3
203450,LINCS,SQ00015233,O06,9,NotUsed,7
203451,LINCS,SQ00015233,O06,9,Training,7
203452,LINCS,SQ00015233,O06,9,Validation,1